<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

	<body>
				<ul class="nav nav-pills">
  				<li role="presentation" data-slide='1'><a href="#">About Me</a></li>
  				<li role="presentation" data-slide='2'><a href="#"> Projects</a></li>
  				<li role="presentation" data-slide='3'><a href="#">Beyond Code</a></li>
  				<li role="presentation" data-slide='1'><a href="#">Contact</a></li>
				</ul>
			
	

		<div class="main">
			<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="1">
					<div class="container">
						<div class="row">
			 
						</div>
						<!-- <div class="col-md-1"><h1> Danielle Nourok </h1> -->
						<h1 class="my-name"> Danielle Nourok: Full Stack Web Developer </h1>
						<!-- <h2 class="occupation"> Full stack Web Developer </h2> -->
				
								<p class="about-me-text" > That's me in the computer over there. I'm a full stack web develoepr. 
									Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor.
 								</p>
								

						


						<div class="image-wrapper">
						<img src="assets/computer-me.png" alt="me" class="computer">
						</div>
 

					</div>
				
				<a class="button-image" data-slide="2" title=""> <img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>
				</div>
			</div>

			


			<!-- copy and past this code above three times to get all of the slides so slide 2-->

			<div class="slide" id="slide2" data-slide="1" data-stellar-background-ratio="0.5">
			

					<h2> Projects </h2>
					<div class="projects">
						<div class="midways-description">
							<p> Midways is an app which helps two people find a midpoint to meet in New York City. Based on the request of the user the middle point shows a selection of restaurants and bars they could possibly meet at. The app was created in Ruby on Rails and uses Action Mailer, Google Maps and Google Places API. </p>
							</div>
							<img src="assets/midways.png" class="midways">
					</div>
				
		

				<div class="wrap-button">
					<a class="button-image" data-slide="3" title=""><img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>
				</div>
			</div>
			

			


<!-- slide 3 -->

				<div class="slide" id="slide3" data-slide="1" data-stellar-background-ratio="0.5">

					<img src="assets/wte-two.png" class="midways">


				<a class="button-image" data-slide="4" title=""><img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>


				</div>
	

			<!-- slide 4 -->

		

				<div class="slide" id="slide4" data-slide="1" data-stellar-background-ratio="0.5">
				<div class="logo-contacts">
					<a href="https://github.com/dnourok"><img src="assets/github.png" class="git-logo"></a>

					<a href="https://www.linkedin.com/in/dnourok"> <img src="assets/linkedin-logo.png" class="linkedin-logo"></a>

					<a href="mailto:dnourok1@gmail.com"> <img src="assets/email-icon.png" class="email-logo"></a>
				</div>
			</div>
	</div>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	</body>
</html>