<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

	<body>

		<nav>
			<ul class='navigation'> </ul>
				<li data-slide='1'><a href="#"> Slide one </li>
				<!-- once we click it Javascript allows us to take us to the first data slide -->
				<li data-slide='2'><a href="#"> Slide two </li>
				<li data-slide='3'><a href="#"> Slide three </li>
				<li data-slide='4'><a href="#"> Slide four </li>
		</nav>
			<div class='main'>

				<div class='slide' id='slide1' data-slide='1' data-stellar-background-ratio='0.5'>
					<div class='container'>
						<div class='row'>
							<div class='col-md-6'></div>
						</div>
					</div>
				</div>

			</div>
	</body>
</html>