<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

	<body>
			<nav>
				<ul class="nav nav-pills">
  				<li role="presentation" data-slide='1'><a href="#">Slide One</a></li>
  				<li role="presentation" data-slide='2'><a href="#">Slide Two</a></li>
  				<li role="presentation" data-slide='3'><a href="#">Slide three</a></li>
  				<li role="presentation" data-slide='1'><a href="#">Slide Four</a></li>
				</ul>
			</nav>
		<nav>

			
			<div class='main'>

				<div class='slide' id='slide1' data-slide='1' data-stellar-background-ratio='0.5'>
					<div class='container'>
						<div class='row'>
							<div class='col-md-6'></div>
						</div>
					</div>
				</div>

			</div>
	</body>
</html>