<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>

			<nav>
				<ul class="nav nav-pills">
  				<li role="presentation" data-slide='1'><a href="#">About Me</a></li>
  				<li role="presentation" data-slide='2'><a href="#"> Projects</a></li>
  				<li role="presentation" data-slide='3'><a href="#">Beyond Code</a></li>
  				<li role="presentation" data-slide='4'><a href="#">Contact</a></li>
				</ul>
			</nav>
<!-- 
			<div class="main"> -->
					<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
						<<!-- div class="container">
							<div class="row">
			 			</div> -->
								<h1 class="my-name"> Danielle Nourok: Full Stack Web Developer </h1>
								<h2 class="occupation"> Full stack Web Developer </h2>
											<p class="about-me-text"> 
												Yep. That's me in the computer over there. As you might of noticed I'm a full stack web developer. Native to New York City but recently 
											</p>
											<br>
											<p class="about-me-text"> 
												Skills
											<br>
												I specialize in Javascript, Node.js, jQuery, Ruby, Ruby on Rails, Sinatra AngularJS, React, PostgreSQL, HTML5, CSS, RSpec, Capybara, ES2015, Git, RSpec, Redis.
 											</p>
 											<br>
 											<p class="about-me-text">
 												Education
 											<br>
 												Saint Louis University Madrid Campus, BA, Political Science, International Studies and Spanish (2011-2015)
 											<br>
 												General Assembly, Web Development Immersive (2015 - 2016)

 											<br>
 											<br>
 											If you are interested in finding out more about me or wish to contact me scroll to the bottom of the page or just click "contact" on the top left and let it do all the work. In that section you will find my Github, LinkedIn and email. 
 											</p>
								
											<img src="assets/computer-me.png" alt="me" class="computer">

										<a class="button-image" data-slide="2" title=""> <img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>
						
 							</div>
						<!-- </div> -->
			<!-- </div>
 -->




		<!-- slide 2-->

			<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
					<h2 class="title"> Projects </h2>
				<div class="projects">
							<!-- <div class="container"> -->
								<img src="assets/ipad_black.png" class="midways">
								<img src="assets/ipad_black.png" class="memory">
								<img src="assets/ipad_black.png" class="quiz">
						<!-- 	</div> -->
								
								<div class="description-containter">
										<div class="description">
											<p> Midways is an app which helps two people find a midpoint to meet in New York City. Based on the request of the user the middle point shows a selection of restaurants and bars they could possibly meet at. The app was created in Ruby on Rails and uses Action Mailer, Google Maps and Google Places API. </p>
										</div>
										<div class="description">
											<p> Midways is an app which helps two people find a midpoint to meet in New York City. Based on the request of the user the middle point shows a selection of restaurants and bars they could possibly meet at. The app was created in Ruby on Rails and uses Action Mailer, Google Maps and Google Places API. </p>
										</div>
										<div class="description">
											<p> Midways is an app which helps two people find a midpoint to meet in New York City. Based on the request of the user the middle point shows a selection of restaurants and bars they could possibly meet at. The app was created in Ruby on Rails and uses Action Mailer, Google Maps and Google Places API. </p>
										</div>
							
					</div>
				
				<div class="wrap-button">
					<a class="button-image" data-slide="3" title=""><img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>
				</div>
			
			</div>
		</div>
			

<!-- slide 3 -->


				<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
						<img src="assets/iphone.png" class="iphone">
								<p class="wte-description" > 
									When I'm not coding you will find me traveling. I love to explore and learn new things not only through technology but experience. On the side a run a travel blog called <a href="http://www.thewildtrekexperience.com/" class="link_wdi"> The Wild Trek Experience </a> which I maintain with Wordpress. 

								<br>
								<br>

									When I'm not coding I try stay away from screens and just enjoy time outside 


 								</p>

						<a class="button-image" data-slide="4" title=""><img src="assets/arrow.png" alt="arrow" height="50" width="50"></a>
				</div>

	

			<!-- slide 4 -->

				<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
					<div class="logo-contacts">
							<a href="https://github.com/dnourok"><img src="assets/github.png" class="git-logo"></a>
							
							<a href="https://www.linkedin.com/in/dnourok"> <img src="assets/linkedin-logo.png" class="linkedin-logo"></a>

							<a href="mailto:dnourok1@gmail.com"> <img src="assets/email-icon.png" class="email-logo"></a>
					</div>
			


	</div>



<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	</body>
</html>