/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
	width: 100%;
	height: 100%;
	background: #660033;
	overflow-y: scroll;
  overflow-x: hidden;
}


.my-name {
	position: relative;
	left: 50%;
	font-family: 'Poiret One', cursive;
	top: 70px;
}

.occupation {
	position: relative;
	left: 50%;
	top: 50px;
	/*font-weight: bold;*/
	color: #ffa500;
}

h2 {
	color: white;
	font-family: 'Poiret One', cursive;
}
/*makes sure this fills the whole page and no unecessary padding on our elements*/

/*navigations position is fixed so it always stays at the top*/
/*z-index ensures it will always be on top of any layer no matter which slide*/
/*width 100% so it scrolls across the whole page*/


.nav {
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}

		li {
			display: inline-block;
			padding: 5px 10px;
		}

	/*text decoration here gets rid of the underline and makes bigger*/

			a {
				color: white;
				font-size: 20px;
				text-decoration: none;
				font-family: 'Poiret One', cursive;
			}

			/*hover and active not working at the moment*/

				a:hover {
					color: lighten(#e1e1e1,20%);
			}
	
		.active {
			background-color: lighten(blue, 20%);
		}

.main {
	color: white;
}


.slide {
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 30px;
	overflow-x: hidden;
}

.button-image {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	/*background-image: url("assets/arrow.png");
	background-size: 50px 50px;
	background: no-repeat;*/
}

.photo {
	border-width: 15px;
	border-style: double;
/*	box-shadow: 0 0 10px rgba(0, 0, 0, .8);*/
	border-color: black;
	width: 400px;
  height: auto;
  position: relative;
  left: 0%;
}

.computer {
	position: relative;
	width: 600px;
  height: auto;
  right: 10%;
  top: -210px;
}

/*.image-wrapper {
	position: relative;
	right: 10%;
	top: 0px;
	width: 500px;
}*/

.about-me-text {
	position: relative;
	left: 50%;
	top: 90px;
	color: white;
	font-size: 20px;
	width: 800px;
	font-family: 'Poiret One', cursive;
	padding-right: 150px;
}

#slide1{
	background-image: url("slideBackground.jpeg");
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 9;	
	overflow-x: hidden;	
}

#slide2{
	background-image: url("tiel.jpeg");
	color: white;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 9;	
}

#slide3{
	background-image: url("orange-two.jpeg");
	background-size: cover;
	color: white;
	font-family: 'Poiret One', cursive;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 9;	
	
}

#slide4{
background: black;
}

.logo-contacts {
	position: relative;
	left: 28%;
}

.git-logo{
	width: 150px;
  height: auto;
}

.linkedin-logo {
	width: 225px;
  height: auto;
  padding-left: 100px;
}

.email-logo {
	width: 250px;
  height: auto;
  padding-left: 100px;
}

.projects {
	display: block;
}


.midways {
	width: 350px;
  height: auto;
  position: relative;
  left: 5%;
  top: 60px;
  /*position: relative;
  display: inline;
  vertical-align: middle;*/  
}

.memory {
	width: 350px;
  height: auto;
  position: relative;
  left: 10%;
  top: 60px;
}

.quiz {
	width: 350px;
  height: auto;
  position: relative;
  left: 15%;
  top: 60px;
}

.container{
/*position: relative;*/
  display: inline;
  vertical-align: middle; 
  padding: 3px;
}

.iphone {
	width: auto;
	height: 450px;
	position: relative;
	left: 75%;
}

.wte-description{

}

.description-containter{
	/*width: 500px;*/
	position: relative;
	display: inline;
	/*left: 60%;
	top: 120px;*/
}

.description{
	width: 300px;
}

.title {
	position: absolute;
	left: 45%;
	font-size: 45px;
	top: 10px;
}